@font-face {
    font-family: starWing;
    src: url(starwing.ttf);
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'starWing';
}

h1,
h2 {
    position: relative;
    color: #00d4ac;
    text-align: center;
    margin: 0;
}

#gameTitleOne,
#gameTitleTwo {
    top: 10%;
}

#controls {
    color: #00d4ac;
    text-align: center;
    margin: 0.1%;
}

#startButton {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 12%;
    font-size: 140%;
    padding: 0.5em 3em;
    border: 0;
    font-family: starWing;
    color: #00d4ac;
}

#startButton:hover {
    color: #ffffff;
}

#instructButton {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    font-size: 140%;
    padding: 0.5em 3em;
    font-family: starWing;
    color: #00d4ac;
    border: 0;

}

#instructButton:hover {
    color: #ffffff;
}

#optionsButton {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    font-size: 140%;
    padding: 0.5em 3em;
    font-family: starWing;
    border: 0;
    color: #00d4ac;
}

#optionsButton:hover {
    color: #ffffff;
}

#creditButton {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    font-size: 140%;
    padding: 0.5em 3em;
    font-family: starWing;
    margin-bottom: 5%;
    color: #00d4ac;
    border: 0;
}

#creditButton:hover {
    color: #ffffff;
}

#acknowledgements {
    margin-top: 5%;
    color: #00d4ac;
}

#splash {
    background-image: url('textures/starBackground.gif');
    background-repeat: repeat;
    height: 100vh;
}

#hud {
    position: absolute;
    width: 100%;
    display: none;
    color: #57e46a;
    text-align: center;
}

#collisionMessage {
    display: inline-block;
    position: absolute;
    left: 44%;
    top: 10%;
}

#fuelCollected {
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 40%;
}

#fuelBar {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 40%;
}

#finishGameScreen {
    position: absolute;
    width: 100%;
    top: 40%;
    display: none;
    text-align: center;
}

img {
    width: 100%;
}

progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 265px;
    height: 20px;
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        -webkit-linear-gradient(left, red, yellow, green, blue);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* User won't see unloaded CSS with this */
#loadOverlay {
    display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #5C6362;
  color: #aaa;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
