<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>2020: A Princeton Space Odyssey</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <!-- In-game HUD -->
        <div id="hud">
            <div id="controls">
                <h3>
                    WASD Move, R | F Up | Down, Q | E Roll, ↑ | ↓ Pitch, ← | →
                    Yaw
                </h3>
            </div>
            <!-- Fuel charges collected -->
            <div id="fuelCollected">
                <h3>Fuel Collected: <span id="fuelCollectedVal"></span> / 5</h3>
            </div>
            <!-- A 45s timer reflected on screen -->
            <div id="fuelBar">
                <h3><span id="timeRemainingVal"></span></h3>
            </div>
        </div>
        <!-- User won't see unloaded CSS with this -->
        <div id="startScreen">
            <div
                id="loadOverlay"
                style="
                    background-color: #333;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                "
            ></div>
            <!-- Splash audio -->
            <audio id="audio" autoplay>
                <source src="src/components/audio/2001.mp3" type="audio/mpeg" />
            </audio>
            <!-- Start screen splash -->
            <div id="splash">
                <h1 id="gameTitleOne">2020</h1>
                <h1 id="gameTitleTwo">a Princeton Space Odyssey</h1>
                <button type="button" id="startButton" onclick="hideSplash()">
                    Start Game
                </button>
                <h2 id="acknowledgements">
                    Created By: Jessica Edouard, Emmanuel Teferi, Justin Tran,
                    Henry Wang
                </h2>
            </div>
            <!-- Hide Start Splash -->
            <script>
                function hideSplash() {
                    const splash = document.getElementById('splash');
                    const hud = document.getElementById('hud');
                    splash.style.display = 'none';
                    hud.style.display = 'block';

                    const sound = document.getElementById('audio');
                    sound.pause();
                    sound.currentTime = 0;
                }
            </script>
        </div>
        <script type="x-shader/x-vertex" id="vertexshader">
  			varying vec2 vUv;
  			void main() {
  				vUv = uv;
  				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  			}
  		 </script>

  		 <script type="x-shader/x-fragment" id="fragmentshader">
  			uniform sampler2D baseTexture;
  			uniform sampler2D bloomTexture;
  			varying vec2 vUv;
  			vec4 getTexture( sampler2D texelToLinearTexture ) {
  				return mapTexelToLinear( texture2D( texelToLinearTexture , vUv ) );
  			}

  			void main() {
  				gl_FragColor = ( getTexture( baseTexture ) + vec4( 1.0 ) * getTexture( bloomTexture ) );
  			}
  		</script>
    </body>
</html>
